.product-card {
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  line-height: 18px;
  overflow: hidden;
  padding: 8px;
  position: relative;
  vertical-align: top;
  margin: 0 25px 12px 0;
  width: 100%;
  max-width: 220px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px 2px;

  > .thumbnail-section {
    margin-bottom: 12px;

    > .thumbnail-container {
      max-width: 250px;
      padding-bottom: 213px;
      margin: auto;
      position: relative;

      > .thumbnail-holder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;

        img {
          object-fit: contain;
        }
      }
    }
  }

  > .price-section {
    margin: 4px 0;
    letter-spacing: 0.1px;
    font-size: 12px;
    color: #888;

    > .price-text {
      color: #525252;
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
    }
  }

  .product-name {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  > .cart-action-section {
    margin: 4px 0;
  }
}
