@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ShoppingWebSiteUI.Models.User
@{
    ViewData["Title"] = "LoginPage";
}

<html>
<head>

</head>
<body>
    @*<div>
        Username: @Html.TextBoxFor(s => s.Username);<input type="text" value="" />
        Password: @Html.TextBoxFor(s => s.Password);<input type="text" value="" />

    </div>*@

    <form asp-controller="Demo" asp-action="Login" method="post">
        Username:  <input asp-for="Username" /> <br />
        Password: <input asp-for="Password" /><br />
        <button type="submit">Login</button>
    </form>

</body>
</html>












