/* You can add global styles to this file, and also import other style files */
.bg-black{ background-color: rgba(14,14,14,1.00)}
.bg-orange{background-color: #f0644f; color: aliceblue; font-weight:600; text-align:center}
.underline{width: 100px; height: 2px; background-color: orangered;}
.bg-light-gray{background-color: rgba(111,111,111,0.09)}
