@model ShoppingWebSiteUI.Models.User
@{
    ViewData["Title"] = "Register Page";
}

<div class="login-page-container">
    <span class="register-caption-text text-center">
        Join our family and shop with a click!
        <br />
        Register now!
    </span>
    <div class="inner-container">
        <form method="post" action="/Auth/Register">
            <div class="form-group">
                <label for="usernameField">Email or Username</label>
                <input type="text" class="form-control" id="usernameField" name="username" aria-describedby="emailHelp" placeholder="Enter email or username">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                @if (ViewBag.UserAlreadyExists)
                {
                    <small class="form-text text-danger">An account with this username/email is already registered.</small>
                }
            </div>
            <div class="form-group">
                <label for="passwordField">Password</label>
                <input type="password" class="form-control" id="passwordField" name="password" placeholder="Enter password">
                @if (ViewBag.ShouldShowError)
                {
                    <small class="form-text text-danger">Registration failed. Please try again.</small>
                }
            </div>
            <button type="submit" class="btn btn-primary login-button">Register</button>
            <div class="form-group" style="margin-top: 5em;">
                <small class="form-text text-left">Alredy have an account? Click <a href="/auth/login">here</a> to log in.</small>
            </div>
        </form>
    </div>
</div>












