.banner-section {
  height: 500px;

  .carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  img {
    width: 100%;
  }
}
