<div [@hoverStateChange]="isActive ? 'hoverOn' : 'hoverOff'" class="product-card" (mouseenter)="onHover()" (mouseleave)="offHover()">
  <div class="thumbnail-section">
    <div class="thumbnail-container">
      <div class="thumbnail-holder">
        <img src="assets/images/{{img}}" alt="{{name}}" height="213" width="150">
      </div>
    </div>
  </div>
  <div class="price-section">
    <span class="price-text">${{price}}</span>
    &nbsp; from 5+ stores
  </div>
  {{name}}
  <div class="cart-action-section" *ngIf="isActive">
    <div class="input-group">
      <input type="number" class="form-control" min="1" step="1" value="1" aria-label="Quantity">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button">Add</button>
      </div>
    </div>
  </div>
</div>
