<div class="product-section">
  <div class="product-section-header">
    <div>
      <h2 class="product-section-header-text">
        {{name}}
      </h2>
    </div>
  </div>
  <div class="product-section-items">
    <div *ngIf="products && !products.length; then emptyTemplate else productListTemplate"></div>
    <ng-template #emptyTemplate>
      <div>
        No products found
      </div>
    </ng-template>
    <ng-template #productListTemplate>
      <div class="product-list">
        <app-product-card
          *ngFor="let product of products"
          img="{{product.imageUrl}}"
          name="{{product.name}}"
          price="{{product.price}}"
          id="{{product.id}}"
          user="{{user}}"
          (cartUpdated)="cartUpdated.emit()"
        >
        </app-product-card>
      </div>
    </ng-template>
  </div>
</div>
