.product-section {
  margin-bottom: 16px;
  height: auto;
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);

  .product-section-header {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    .product-section-header-text {
      font-size: 22px;
      line-height: 32px;
      display: inline-block;
      font-weight: 500;
    }
  }

  .product-section-items {
    min-height: 332px;
    padding: 20px 10px;
  }
}
