<div class="products-page">
  <app-images-banner></app-images-banner>
  <app-features-banner></app-features-banner>
  <app-products-section
    name="Shirts"
    [products]="products | filterCollection: 'category': 'Shirts'"
  ></app-products-section>
  <app-products-section
    name="Trousers"
    [products]="products | filterCollection: 'category': 'Trousers'"
  ></app-products-section>
  <app-products-section
    name="Socks"
    [products]="products | filterCollection: 'category': 'Socks'"
  ></app-products-section>
  <app-products-section
    name="Shoes"
    [products]="products | filterCollection: 'category': 'Shoes'"
  ></app-products-section>
</div>
