<div class="products-page">
  <app-header [name]="user" title="Shopping Website" [count]="cartItemsCount" [showCartIcon]="true"></app-header>
  <app-images-banner></app-images-banner>
  <app-features-banner></app-features-banner>
  <div class="products-section-container">
    <app-products-section
      [products]="products | filterCollection: 'category': category"
      [name]="category"
      [user]="user"
      (cartUpdated)="updateCartCount()"
      *ngFor="let category of ['Shirts', 'Trousers', 'Socks', 'Shoes']"
    ></app-products-section>
  </div>
</div>
