<app-header [name]="user" title="Shopping Website" [count]="count"></app-header>
<div class="outer-cart-page-container">
  <div class="cart-page-container">
    <div class="cart-details-container">
      <div class="cart-details-header">
        <span class="cart-details-header-text">My Cart ({{cart.length}})</span>
      </div>
      <div class="cart-items-list" *ngIf="cart.length > 0; else emptyCartMessage">
        <app-cart-item
          *ngFor="let item of cart"
          [cartItem]="item"
          [hasDeliveryCharges]="hasDeliveryCharges"
          [deliveryCharges]="DELIVERY_CHARGES"></app-cart-item>
      </div>
      <ng-template #emptyCartMessage>
        <div class="empty-cart">
          <span>Your cart is empty!</span>
        </div>
      </ng-template>
      <div class="cart-action-container">
        <button class="action-button cart-action-button default" (click)="goBackToShopping()">
          <span>< Continue Shopping</span>
        </button>
        <button class="action-button cart-action-button action" (click)="doCheckout()">
          <span>Place Order</span>
        </button>
      </div>
    </div>
    <div class="price-details-container" *ngIf="cart.length > 0">
      <div class="price-details">
        <span class="header b-b-1 border-light">Price Details</span>
        <div class="price-breakdown">
          <div class="price-item">
            Price ({{count}} item{{count > 1 ? 's' : ''}})
            <span>${{amount}}</span>
          </div>
          <div class="price-item">
            Delivery Charges
            <span>${{totalDeliveryCharges}}</span>
          </div>
          <div class="total-price-item">
            <div class="price-item">
              Amount Payable
              <span>${{(amount + totalDeliveryCharges)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
